<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="description" content="Responsive Admin Template" />
    <title>MonitUS | Barnato Park High School</title>
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" type="text/css" />
    <!-- icons -->
    <link href="/stylesheets/fonts/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/fonts/material-design-icons/material-icon.css" rel="stylesheet" type="text/css" />
    <!--bootstrap -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/summernote.css" rel="stylesheet">
    <!-- Material Design Lite CSS -->
    <link rel="stylesheet" href="/stylesheets/material.min.css">
    <link rel="stylesheet" href="/stylesheets/material_style.css">
    <!-- inbox style -->
    <link href="/stylesheets/inbox.min.css" rel="stylesheet" type="text/css" />
    <!-- Theme Styles -->
    <link href="/stylesheets/theme_style.css" rel="stylesheet" id="rt_style_components" type="text/css" />
    <link href="/stylesheets/plugins.min.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/responsive.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/theme-color.css" rel="stylesheet" type="text/css" />
    <!--Chart.js JS CDN-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <link href="/stylesheets/formlayout.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/dropzone/dropzone.css" rel="stylesheet" media="screen">

    <link href="/stylesheets/morris.css" rel="stylesheet" type="text/css" />

    <!-- Table -->
    <link href="/stylesheets/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <!-- sweet alerts -->
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.min.css'>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@3/dark.css">
    <link rel="shortcut icon" href="http://radixtouch.in/templates/admin/smart/source/assets/img/favicon.ico" />
</head>